---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.coinmarketcap.com/v1/global-metrics/quotes/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Cmc-Pro-Api-Key:
      - "<COINMARKETCAP_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-12-03T18:29:16.464Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 7,
                "credit_count": 1
            },
            "data": {
                "active_cryptocurrencies": 2475,
                "active_market_pairs": 20236,
                "active_exchanges": 351,
                "eth_dominance": 7.3584,
                "btc_dominance": 69.44,
                "quote": {
                    "USD": {
                        "total_market_cap": 246575218535.053,
                        "total_volume_24h": 47263740384.9739,
                        "total_volume_24h_reported": 76915954559.0052,
                        "altcoin_volume_24h": 33534327995.5604,
                        "altcoin_volume_24h_reported": 59696268416.2682,
                        "altcoin_market_cap": 75353479269.7539,
                        "last_updated": "2019-08-30T18:50:00.000Z"
                    }
                },
                "last_updated": "2019-08-30T18:50:00.000Z"
            }
        }
  recorded_at: Tue, 03 Dec 2019 18:29:16 GMT
recorded_with: VCR 4.0.0
