---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?sort=market_cap&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Cmc-Pro-Api-Key:
      - "<COINMARKETCAP_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-12-03T16:12:58.066Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 15,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "num_market_pairs": 7919,
                    "date_added": "2013-04-28T00:00:00.000Z",
                    "tags": [
                        "mineable"
                    ],
                    "max_supply": 21000000,
                    "circulating_supply": 17906012,
                    "total_supply": 17906012,
                    "platform": null,
                    "cmc_rank": 1,
                    "last_updated": "2019-08-30T18:51:28.000Z",
                    "quote": {
                        "USD": {
                            "price": 9558.55163723,
                            "volume_24h": 13728947008.2722,
                            "percent_change_1h": -0.127291,
                            "percent_change_24h": 0.328918,
                            "percent_change_7d": -8.00576,
                            "market_cap": 171155540318.86005,
                            "last_updated": "2019-08-30T18:51:28.000Z"
                        }
                    }
                },
                {
                    "id": 1027,
                    "name": "Ethereum",
                    "symbol": "ETH",
                    "slug": "ethereum",
                    "num_market_pairs": 5629,
                    "date_added": "2015-08-07T00:00:00.000Z",
                    "tags": [
                        "mineable"
 [...]
- request:
    method: get
    uri: https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?convert=GBP&sort=market_cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Cmc-Pro-Api-Key:
      - "<COINMARKETCAP_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-12-17T07:58:28.237Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 15,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "num_market_pairs": 7919,
                    "date_added": "2013-04-28T00:00:00.000Z",
                    "tags": [
                        "mineable"
                    ],
                    "max_supply": 21000000,
                    "circulating_supply": 17906012,
                    "total_supply": 17906012,
                    "platform": null,
                    "cmc_rank": 1,
                    "last_updated": "2019-08-30T18:51:28.000Z",
                    "quote": {
                        "GBP": {
                            "price": 7868.246041357151,
                            "volume_24h": 11301161206.170357,
                            "percent_change_1h": -0.1273,
                            "percent_change_24h": 0.3289,
                            "percent_change_7d": -8.0058,
                            "market_cap": 140888908035.49365,
                            "last_updated": "2019-08-30T18:51:02.000Z"
                        }
                    }
                },
     [...]
