---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?sort=market_cap&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Cmc-Pro-Api-Key:
      - "<COINMARKETCAP_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-02-13T23:00:53.122Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 10,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "circulating_supply": 17435912,
                    "total_supply": 17435912,
                    "max_supply": 21000000,
                    "date_added": "2013-04-28T00:00:00.000Z",
                    "num_market_pairs": 6695,
                    "tags": [
                        "mineable"
                    ],
                    "platform": null,
                    "cmc_rank": 1,
                    "last_updated": "2018-12-22T06:08:23.000Z",
                    "quote": {
                        "USD": {
                            "price": 3881.88864625,
                            "volume_24h": 6341959230.33247,
                            "percent_change_1h": 0.426252,
                            "percent_change_24h": -4.10839,
                            "percent_change_7d": 19.472,
                            "market_cap": 67684268829.81413,
                            "last_updated": "2018-12-22T06:08:23.000Z"
                        }
                    }
                },
                {
                    "id": 52,
                    "name": "XRP",
                    "symbol": "XRP",
                    "slug": "ripple",
                    "circulating_supply": 40794121066,
                    "total_supply": 99991738974,
                    "max_supply": 100000000000,
                    "date_added"[...]
